body {
  background: rgb(220, 220, 220);
}

p {
  margin: 0em 0px 0em 0px; /*верх, право, низ, лево*/
}

a {
  text-decoration: none;
}

a:hover {
  color: brown;
}
dfn {
  padding: 0px 1px 10px 1px; /*верх, право, низ, лево*/
  color: navy;
  /*border: 0.5px solid brown;
    border-radius: 3px;*/
  font-style: normal;
  line-height: 1.25;
}

/*.dfn {/cursor: help; //border-bottom: 1px dashed; //text-decoration: none;
    //display: inline; position: relative;
    }

.dfn:hover:after{ //text
    background: #fff;
    background: rgba(255, 255, 204,0.9);
    border-radius: 5px;
    border: 0.5px solid brown;
    bottom: -50px;
    color: navy;
    font-size: 14px;
    content: attr(def);
    //left: 20%;
    //padding: 5px 5px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.dfn:hover:before{
    //border: 0.5px solid brown;
    //border-radius: 5px;
    //border-color: #333 transparent;
    //border-width: 6px 6px 0 6px;
    //bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}	
.dfn span {display: none}	

.dfn:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 5px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0;
    //left: 0px;
    //margin: 10px;
    //width: 250px;
    //position: absolute;
    //top: 10px;
    //text-decoration: none
    //color: navy;
    //border: 0.5px solid brown;
    //border-radius: 5px;}*/

.cc,
.cag,
.cag,
.ccp,
.cfn,
.cfs,
.cgn,
.clc,
.cim,
.cld,
.cnj,
.csm,
.css {
  border-radius: 3px;
  border: 0.5px solid brown;
  background: #cc88ee;
  padding: 1px 1px 10px 1px;
}
/*cc союз/частица*/

select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

section, Fulltext {
  position: fixed;
}

.Tib_Txt {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 79vw;
  height: auto;
}
.Right_Dict {
  position: fixed;
  right: 0;
  top: 0%;
    width: 20.5vw;
    height: 100%;
  overflow: auto;
  background:rgba(190, 190, 190, 1);
}
.Down_Sent {
    background:rgba(190, 190, 190, 1);
    position: fixed;
    right: 0;
    bottom: 0vh;
    width: 100vw;
    height: fit-content;
    overflow: auto;
}
.transl {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  background: gray;
  overflow: auto;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 1% 0.1% 0.3% 0.7%; /*верх, право, низ, лево*/
  padding: 0.3% 0.7% 0.3% 0.7%; /*верх, право, низ, лево*/
  width: fit-content;
  font-weight: 600;
  line-height: 1.2;
  clear: both;
  text-transform: capitalize;
  text-shadow: 1px -1px #6e6e6e, 2px -2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  border: 1px solid brown;
  border-radius: 3px;
  font-size: 14px;
}

.sent {
  font-size: 20px;
  padding: 0px, 0px, 0px, 0px;
  line-height: 40px;
}

.cite_src {
  color: green;
  font-weight: 600;
  /*background: #f5f5f5;
    width: fit-content;*/
}

.cite,
code {
  background: #f5f5f5;
  display: inline-block;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  margin: 2px 2px 5px 5px; /*верх, право, низ, лево*/
  border-left: 1px solid brown;
  border-radius: 3px;
  padding: 5px 2px 5px 5px; /*верх, право, низ, лево*/
  font-weight: 600;
}

:lang(bo) {
  font-size: 23px;
}
/*:lang(sk){} санскрит*/
:lang(ru) {
  font-family: Verdana;
  font-size: 12px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 2px; /*верх, право, низ, лево*/
}
/*.nnn {background: #ffffcc;} /*nnn сущ желт*/
/*.prn {background: #ffffcc;} /*prn местоим желт*/
/*.adj {background: #ffcccc;} /*adj прил зел*/
/*.vrb {background: #ffcccc;} /*vb глаг крас*/
/*.aux {background: #aaffdd;} /*ax вспом.глаг оранж*/
/*.adv {background: #bbffaa;} /*av нареч бирюз */
/*.adp {background: #ffcccc;} /*ap позиционирование синий*/
/*.itr {background: #ffcccc;} /*qs вопрос фиолет*/

.notes {
  position: absolute;
  right: 7px;
  width: 30%;
  margin: 0px 2px 5px 0px; /*верх, право, низ, лево*/
}

#Result {
  /*border: 5px solid brown;*/
  position: relative;
  top: 0;
  left: 0;
  width: 76.5vw;
    height: 100vh;
  margin: 2px 4px 0px 5px;
}

.fon_okna:target,
.fon_okna.open {
  display: content;
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.fon_okna {
  /*border: 5px solid yellow;*/
  width: 75%;
  height: 98%;
  position: absolute; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(0,0,0,0.2); */ /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

.okno {
  width: 230px;
  height: fit-content;
  padding: 3px 5px 5px 5px;
  /*position: absolute;
color: navy;*/
  top: 0%;
  left: 0%;
  z-index: 1000;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: rgba(255, 255, 240, 0.97);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(108, 0, 0, 0.87);
  border-radius: 4px;
}
.okno_sent {
  width: 910px;
  height: fit-content;
  margin: 15px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  top: 5%;
  /* left: 0%; */
  /* z-index: 1000; */
  /* position: relative; */
  /* display: -webkit-box; */
  /* display: -webkit-flex; */
  display: -ms-flexbox;
  /* display: flex; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  /* -webkit-flex-direction: row; */
  /*-ms-flex-direction: row;*/
  /* flex-direction: row; */
  background: rgba(255, 255, 240, 0.97);
  /* -webkit-background-clip: padding-box; */
  /* background-clip: padding-box; */
  border: 1px solid rgba(108, 0, 0, 0.87);
  border-radius: 4px;
}

.wndw_sent_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: beige;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 12px 16px;
  min-height: 50px;
  box-sizing: border-box;
}

.pair_lst{
  box-sizing: border-box;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    /* font-weight: 600; */
    font-size: 17px;
    height: 55vh;
    width: 21.8vw;
    /* line-height: 1; */
    /* color: var(--charcoal-grey-raw); */
    /* outline: none; */
    /* transition: color 0.2s ease-in, border-color 0.2s ease-in; */
    resize: vertical;
}

.input_sent {
  box-sizing: border-box;
    margin-top: 2px;
    padding: 10px, 10px, 10px, 18px;
    width: 97%;
    border-radius: 4px;
    font-weight: 600;
    /* height: auto; */
    /* line-height: 1; */
    /* color: var(--charcoal-grey-raw); */
    /* outline: none; */
    /* transition: color 0.2s ease-in, border-color 0.2s ease-in; */
    resize: vertical;
}

kbd {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px 0px 0px 0px; /*верх, право, низ, лево*/
  padding: 1px 2px 1px 2px; /*верх, право, низ, лево*/
  border-radius: 3px;
  font-size: 1em;
  font-family: "Courier New", monospace;
  word-break: keep-all;
  border: 0.75px solid gray;
  text-shadow: 1 -1px gray;
  width: fit-content;
}

/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-aligns: center;
  -ms-flex-align: center;
  align-self: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть"*/
.picto {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .6;
    position: relative;
    top: 4px;
}
/*свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
/*.picto:focus,
.picto:hover {
  color: rgb(108, 0, 0);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}*/

/*    option{
        font-size:16px;
        text-align:left;
        /*outline: auto;/
        overflow: auto;
        overflow-x: hidden;
        white-space: pre-line;
        word-spacing: normal;
        word-break: normal; 
        word-wrap: break-word;
        hyphens: auto;
        flex-direction: row;
        cursor: pointer;
    }
    */

.Dict {
  padding: 0px, 0px, 0px, 0px;
  /*position: relative;
    left: 7px;
    flex-direction: row;
    overflow: auto;
    overflow-x: hidden;
    white-space: normal;
    word-spacing: normal;
    word-break: normal; 
    word-wrap: break-word;
    hyphens: auto;
    flex-direction: row;*/
}

.transl-lst {
  /* display:flex; */
  /* flex-direction:row; */
  /* align-items:center; */
  position: inherit;
  /* color:var(--charcoal-grey); */
  /* background-color:beige; */
  cursor: pointer;
  /* transition:all .2s ease; */
  /* min-height: 33px; */
  /* box-sizing:border-box; */
  /* padding: 0px 0px 0px 0px; */
  margin: -0px, -0px, 0px, 0px;
}
/*.item_votes{position:absolute;top:0;left:0;bottom:0;display:flex;justify-content:center;align-items:center;width:56px;height:100%}
*/

.option {
  border-radius: 4px;
  border: thin solid #00000040;
  background-color: rgba(0, 0, 0, 0.07);
  /* left: 4px; */
  /* height: 100%; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
  position: relative;
  padding: 0px, 0px, 0px, 0px;
}

.vote_line {
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 4px;
  /*left: 4px;

    width:26px;
    position:absolute;
    display:flex;
    justify-content:center; 
    align-items: center;
    top:0;left:0;bottom:0;*/
}

.input_new_val {
  border-style: double;
  border-color: navy;
  /* border-image: initial; */
  margin: 0px;
  width: 86%;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 4px;
}

/* ВЫДВИЖНАЯ ПАНЕЛЬ */
.side-panel {
position: fixed;
    z-index: 999999;
    top: 0;
    right: 0%;
    transition: all 0.5s;
    width: 21.5vw;
    height: 100vh;
    padding: 3px 5px;
    background: rgba(190, 190, 190, 1);
    /* box-shadow: 10px 0 20px rgba(0,0,0,0.4); 
    color: #FFF;
    background: #337AB7;*/
}

#side-checkbox {
    display: none;
}
.side-button-V {
  top: -0.3vh;
    /* margin: 10px; */
    /* text-decoration: none; */
    /* position: relative; */
    /* font-size: 20px; */
    /* line-height: 20px; */
    /* padding: 12px 30px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    cursor: pointer;
    /* border: 2px solid #BFE2FF; */
    position: fixed;
    right: 0%;
}

#side-checkbox:checked + .side-panel {
    top: -150%;
}
